# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Log Files
*.log
logs/
target/*.log

# Build artifacts and directories
target/
build/
bin/

# IDE-specific files
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
*.classpath
*.project
.settings/

# Eclipse
.metadata/
.apt_generated/
.factorypath
.springBeans

# NetBeans
nbproject/private/
nbbuild/
dist/
.nb-gradle/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*~
*.bak
*.swp